@import '~antd/dist/antd.css';
@import './variables.css';
@import './fonts.css';

html {
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-family: var(--font-bold);
}

p,
a,
div {
  font-family: var(--font-regular);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}

.small-flag {
  overflow: hidden;
  height: 36px;
  width: 48px;
  border-radius: 5px;
  border: 1px solid var(--gray-color-secondary);
}

.caption {
  display: inline-block;
  padding: 0 5px 0 10px;
  margin: 0;
  background-color: var(--dark-blue-color);
  border-radius: 3px;
  color: var(--white-color);
  font-weight: 900;
  letter-spacing: 5px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 966px;
  }
}

@media (max-width: 900px) {
  .container {
    max-width: 748px;
  }
}

@media (max-width: 600px) {
  .container {
    max-width: 400px;
  }
}
