.navigation {
  justify-content: center;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item.navigation__item {
  padding: 0;
}

.ant-menu-dark .ant-menu-item .navigation__active {
  color: #fff;
}

.navigation__active {
  display: block;
  background-color: #1890ff;
  padding: 0 20px;
}

.navigation__link {
  padding: 0 20px;
}
