.navigation {
  justify-content: center;
}

.ant-menu-dark.ant-menu-horizontal > .ant-menu-item.navigation__item {
  &:hover {
    background-color: transparent;
  }
}

.ant-menu-dark .ant-menu-item {
  box-sizing: border-box;

  .navigation__active {
    color: var(--white-color);
  }
}

.navigation-mobile {
  .ant-menu-item.navigation__item {
    padding: 0;
  }
}
