.ant-layout-header.app__header {
  padding: 0 16px;
  height: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
}

.header__menu {
  flex: 1;
}

@media (max-width: 600px) {
  .header__menu {
    flex: 0;
  }

  .header__logo {
    width: 70px;
  }
}
