.ant-layout-header.app__header {
  padding: 0;
  height: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  display: flex;
  align-items: center;
  width: 100px;
}

.header__menu {
  flex: 1;
}

.header__button {
  span {
    font-size: 12px;
    text-transform: uppercase;
  }
}

@media (max-width: 600px) {
  .header__title-mobile {
    flex: 3;
    margin: 0;
    text-align: center;
    color: var(--white-color);
  }

  .header__logo {
    width: 70px;
  }

  .header__menu {
    flex: initial;
    width: 70px;
    text-align: right;
  }
}
