.drivers__item {
  grid-column: span 4;
  padding: 10px 10px 0 0;
  border-top: 1px solid var(--dark-blue-color);
  border-right: 1px solid var(--dark-blue-color);
  border-top-right-radius: 10px;
}

.drivers__item-grid {
  grid-column: span 3;
}

.drivers__item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--gray-color-secondary);

  &-pos {
    margin: 0;
    line-height: 1;
    font-size: 46px;
    font-weight: 900;
  }

  &-wrap {
    text-align: center;
  }

  &-pts {
    display: block;
    margin: 0;
    line-height: 1;
    font-size: 24px;
    font-weight: 900;
  }
}

.drivers__item-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--gray-color-secondary);

  &-wrap {
    position: relative;
    padding-left: 15px;
    text-transform: uppercase;
  }

  &-team {
    position: absolute;
    left: 0;
    width: 5px;
    height: 32px;
  }

  &-given {
    margin: 0;
    line-height: 15px;
    font-weight: 400;
  }

  &-family {
    margin: 0;
    line-height: 1;
    font-size: 18px;
    font-weight: 900;
  }
}

.drivers__item-main {
  &-name {
    margin-bottom: 20px;
  }

  &-inner {
    position: relative;
    height: 167px;
    background-image: url('../../../../images/plus-x1.png');
  }

  &-img {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 192px;
    height: 192px;
  }

  &-number {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 60px;
    margin: 0;
    color: var(--gray-color);
    font-size: 52px;
    font-weight: 900;
    line-height: 1;
    background-color: var(--white-color);
  }
}

@media (max-width: 1200px) {
  .drivers__item {
    grid-column: span 4;
  }
}

@media (max-width: 900px) {
  .drivers__item {
    grid-column: span 6;
  }
}
