.schedule__container {
  padding: 70px 0;
}

.schedule__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

@media (max-width: 600px) {
  .schedule__container {
    padding: 40px 0;
  }

  .schedule__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
