.schedule__container {
  padding: 70px 0;
}

.schedule__list {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  row-gap: 40px;
}

.schedule__item {
  grid-column: span 4;
  padding: 10px 10px 0 0;
  border-top: 1px solid var(--dark-blue-color);
  border-right: 1px solid var(--dark-blue-color);
  border-top-right-radius: 10px;
}

.schedule__item-8 {
  grid-column: span 8;
}

.schedule__item-12 {
  grid-column: span 12;
}

@media (max-width: 600px) {
  .schedule__container {
    padding: 40px 0;
  }

  .schedule__list {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 40px;
  }
}
