.header__drawer {
  .ant-drawer-header {
    background-color: var(--dark-blue-color);
    padding: 20px 24px;
  }

  .ant-drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--dark-blue-color);
  }

  .ant-drawer-title {
    color: var(--white-color);
  }

  .header__drawer-button {
    margin-top: 30px;
  }
}
